/**
 * Global stylesheet for personal website app *********************
 **/

// Font import
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,900;1,300;1,400;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

// Default root varialbes to use for light / dark theming
:root {
  --bg-color: white;
  --text-color: black;
  --max-width: 1000px;
  --img-invert: invert(1);
}

// Swap light for dark theme if enabled
@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: black;
    --text-color: white;
    --img-invert: invert(0); 
  }
}

// Responsive mixins
@mixin for-phone-only {
  @media (max-width: 550px) { @content; }
}

@mixin tablet-down {
  @media (max-width: 900px) { @content; }
}

// App-wide styles
html,
body {
  height: calc(100vh - 6rem);
  width: calc(100vw - 6rem);
  padding: 1.5rem; // applies to both body and HTML, so it doubles
  margin: 0;
  font-family: 'Lato', sans-serif;
  background: var(--bg-color);
  color: var(--text-color);

  @include for-phone-only {
    padding: 1rem;
    height: calc(100vh - 4rem);
    width: calc(100vw - 4rem);
  }

  main {
    position: relative;
    width: 100%;
    padding: 4rem 0;
    max-width: var(--max-width);
    margin: auto;
  }
}

// Import component stylesheets
@import './components/avatar.scss';
@import './components/content.scss';
@import './components/header.scss';
@import './components/intro.scss';